<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资产列表</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}"/>
</head>
<body>
<!--防止图片一半显示-->
<style rel="stylesheet">
    .layui-table-cell{
        text-align:center;
        height: auto;
        white-space: normal;
    }
    .layui-table img{
        max-width:100%;
    }
    .layui-table-cell .layui-form-checkbox [lay-skin="primary"]{
        top: 50%;
        transform: translateY(-50%);
    }
</style>
<!--每行的操作-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="sp">借用审批</a></br>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="ch">撤回申请</a></br>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="qr">确认领取</a>
</script>
<!--条件筛选-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<div th:replace="conference/proper/propertyApply_search::search"></div>
<!--表格-->
<table lay-even class="layui-table" id="demo" lay-filter="demo"></table>
<!--弹框区-->
<div th:replace="conference/proper/propertyApplySP::propertyApply_SP"></div>
<!--函数区-->
<script type="text/javascript">
    layui.use(['table','jquery','layer','upload','form','laydate'],function(){
        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;
        var laydate = layui.laydate;
        //初始化日期控件
        var laydate = layui.laydate;
        var layerId; //用来保存弹出层的id

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 1){
                    return '必填选项不能为空';
                }
            }
        });

        //渲染表格
        var tableIndex = table.render({
            elem: '#demo'
            ,id:'demo'
            ,height: 610
            ,url: '[[@{/property/selPropertyApplyJY}]]' //数据接口
            ,text:{none:'暂无相关数据'}
            ,page: true //开启分页
            ,limit:5
            ,limits:[5,10,15,20,25,30]
            ,cols: [
                [
                    ,{field:'applyId', title:'申请id',hide:true}
                    ,{field:'applyNo',title:'申请编号'}
                    ,{field:'applyName', title:'申请主题'}
                    ,{field:'empId', title:'申请人id',hide:true}
                    ,{field:'empName', title:'申请人'}
                    ,{field:'empNo', title:'申请人编号'}
                    ,{field:'propertyId', title:'借用物品id',hide:true}
                    ,{field:'propertyName', title:'借用物品'}
                    ,{field:'propertyNo', title:'借用物品编号'}
                    ,{field:'applyCreateTime', title:'申请时间',width:200}
                    ,{field:'remark', title:'申请备注'}
                    ,{field:'state', title:'申请状态'
                        ,templet: function(d){
                            var rolestr = "";
                            var ary = d.state;
                            // 审核状态（是否通过） 1为审批中，2为不通过，3为通过 4.已借用 5.已归还 6.为已撤回 7.被抢占
                            switch (ary) {
                                case 1: rolestr="审批中"; break;
                                case 2: rolestr="不通过"; break;
                                case 3: rolestr="已通过"; break;
                                case 4: rolestr="已借用"; break;
                                case 5: rolestr="已归还"; break;
                                case 6: rolestr="已撤回"; break;
                                case 7: rolestr="被抢占"; break;
                            }
                            return rolestr;
                        }
                    }
                    ,{field:'propertyApplyVos', title:'审批人',width:200,
                        templet:
                            function(d){
                            var rolestr = "";
                            var ary = d.propertyApplyVos;
                                ary.forEach(function(item,index){
                                    rolestr += " "+item.empName
                                    switch (item.state) {
                                        case 1: rolestr+=" 状态:未处理 </br>"; break;
                                        case 2: rolestr+=" 状态:已退回 </br>"; break;
                                        case 3: rolestr+=" 状态:已同意 </br>"; break;
                                    }
                                });
                            return rolestr;
                            }
                    }
                    ,{toolbar: '#barDemo',fixed:'right',title:'操作',width:200,align:'center'}
                ]
            ]
            ,done: function () {
                $("[data-field='applyId']").css('display','none');
                $("[data-field='empId']").css('display','none');
                $("[data-field='propertyId']").css('display','none');
            }
        });
        //刷新多条件查询
        function refresh(){
            var applyNo = $("#sapplyNoJY").val();
            var state = $("#sstateJY").val();
            tableIndex.reload(//重载，where后面设置的是传给后台的参数
                {
                    where:{
                        applyNo:applyNo,
                        state:state,
                    }
                    ,page:{
                        page:1,
                        limit:5
                    }
                    ,url:'[[@{/property/selPropertyApplyJY}]]'
                    ,method:'get'
                });
        }
        $("#doSearch").click(function(){
            refresh();
        });
        //每行的操作
        table.on('tool(demo)',function(obj){//tool是工具条事件，demo是table的lay-filter对应的值
            var row = obj.data;//获取每行的数据
            var layEvent =obj.event;//获取事件
            if(layEvent == "sp"){
                $.ajax({
                    url:'[[@{/Conferenceroom/yanzheng}]]',
                    async: false,
                    type:'GET',
                    dateType:'json',
                    success:function(res){
                        if (row.state!=1){
                            layer.msg("改申请已审批,无法继续审批");
                            return;
                        }
                        var pd=0;
                        $.each(row.propertyApplyVos,function(i,v){//判断当前登录人是否在审批人列表上
                            if (v.empNo==res){
                                pd=1;
                                return;
                            }
                        });
                        if (pd==1){
                            approval(row);
                        }else {
                            layer.msg("您没有权限对该申请进行审批");
                        }
                    }
                });
            }else if(layEvent == "ch"){
                $.ajax({
                    url:'[[@{/Conferenceroom/getid}]]',
                    async: false,
                    type:'GET',
                    dataType:'json',
                    success:function(res){
                        if(row.state==1){
                            if (row.empId==res){
                                var choice=confirm("您确认撤销该申请？", function() { }, null);
                                if (choice==true){
                                    $.ajax({
                                        url:'[[@{/property/PropertyXG}]]',
                                        data:{
                                            state:6,
                                            applyId:row.applyId
                                        },
                                        type:'POST',
                                        dataType:'json',
                                        success:function(res){
                                            if(res.code=="0"){
                                                layer.msg(res.message);
                                                refresh();
                                            }else{
                                                layer.msg(res.message);
                                            }
                                        }
                                    });
                                }
                            }else {
                                layer.msg("这不是你借用的物品，您无权撤回！");
                            }
                        }else {
                            layer.msg("该物品已审核完成不能撤回!");
                        }
                    }
                });
            }else if(layEvent == "qr"){
                $.ajax({
                    url:'[[@{/Conferenceroom/getid}]]',
                    async: false,
                    type:'GET',
                    dataType:'json',
                    success:function(res){
                        if(row.state==3){
                            if (row.empId==res){
                                var choice=confirm("您确认该物品已领用？", function() { }, null);
                                if (choice==true){
                                    $.ajax({
                                        url:'[[@{/property/PropertyXG}]]',
                                        data:{
                                            state:4,
                                            applyId:row.applyId
                                        },
                                        type:'POST',
                                        dataType:'json',
                                        success:function(res){
                                            if(res.code=="0"){
                                                layer.msg(res.message);
                                                refresh();
                                            }else{
                                                layer.msg(res.message);
                                            }
                                        }
                                    });
                                }
                            }else {
                                layer.msg("这不是你借用的物品，您无权操作！");
                            }
                        }else {
                            layer.msg("审核未完成或该物品已被领取!");
                        }
                    }
                });
            }
        });
        //审批
        function approval(row){
            layerId = layer.open({
                type: 1
                ,title:'采购审批'
                ,id: 'layerDemo'+Math.random() //防止重复弹出
                ,content: $('#propertyApplySP')
                ,shade: [0.8, '#393D49']
                ,area:['600px','800px'],
                success:function(index){
                    $("#propertyApplySPFrm")[0].reset();//清空表单数据
                    //设置最初的值
                    //给表单赋值
                    form.val("propertyApplySPFrm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                        "spapplyId": row.applyId // "name": "value"
                        ,"spempId": row.empId
                        ,"sppropertyId": row.propertyId
                        ,"spapplyNo": row.applyNo
                        ,"spapplyName": row.applyName
                        ,"spempName": row.empName
                        ,"sppropertyName": row.propertyName
                        ,"spapplyCreateTime":row.applyCreateTime
                        ,"spremark": row.remark
                    });
                    form.render();
                    //先获取当前id
                    var empId=null;
                    $.ajax({
                        url:'[[@{/Conferenceroom/getid}]]',
                        async: false,
                        type:'GET',
                        dateType:'json',
                        success:function(res){
                            empId=res;
                        }
                    });
                    //同意修改
                    form.on('submit(forOK)', function(data){
                        //获取表单区域所有值
                        var sppropertyId = $("#sppropertyId").val();
                        var spapplyId = $("#spapplyId").val();
                        var spempId = $("#spempId").val();
                        var myremark = $("#myremark").val();
                        $.ajax({
                            url:'[[@{/property/PropertySP}]]',
                            data:{
                                applyId:spapplyId,
                                empId:spempId,
                                remark:myremark,
                                state:3,
                                propertyId:sppropertyId
                            },
                            type:'POST',
                            dataType:'json',
                            success:function(res){
                                if(res.code=="0"){
                                    layer.msg(res.message);
                                    $("#propertyApplySPFrm")[0].reset();//清空表单数据
                                    layer.close(layerId);
                                    refresh();
                                }else{
                                    layer.msg(res.message);
                                }
                            }
                        });
                        return false;
                    });
                    //退回修改
                    form.on('submit(forNO)', function(data){
                        //获取表单区域所有值
                        var sppropertyId = $("#sppropertyId").val();
                        var spapplyId = $("#spapplyId").val();
                        var spempId = $("#spempId").val();
                        var myremark = $("#myremark").val();
                        $.ajax({
                            url:'[[@{/property/PropertySP}]]',
                            data:{
                                applyId:spapplyId,
                                empId:spempId,
                                remark:myremark,
                                state:2,
                                propertyId:sppropertyId
                            },
                            type:'POST',
                            dataType:'json',
                            success:function(res){
                                if(res.code=="0"){
                                    layer.msg(res.message);
                                    $("#propertyApplySPFrm")[0].reset();//清空表单数据
                                    layer.close(layerId);
                                    refresh();
                                }else{
                                    layer.msg(res.message);
                                }
                            }
                        });
                        return false;
                    });
                }
            });
        }
    });
</script>
</body>
</html>