<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加或修改</title>
</head>
<body>
<!--添加或者修改的弹出层start-->
<div style="display: none;padding: 20px;" id="saveOrUpdateDiv" th:fragment="addOrUpdate">
    <form class="layui-form"  id="dataFrm" lay-filter="dataFrm" type="post">
        <div class="layui-form-item">
            <div class="layui-col-md3"><div class="layui-form-item"></div></div>
            <label class="layui-form-label">岗位名称</label>
            <div class="layui-inline">
                <input id="role_id" type="hidden" name="role_id" placeholder="岗位ID" autocomplete="off" class="layui-input">
                <input id="role_name" type="text" name="role_name" required lay-verify="required" placeholder="岗位名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">资源</label>
            <div id="tids" name="tids" class="demo-transfer"></div>
        </div>


        <div class="layui-form-item">
            <div class="layui-col-md5"><div class="layui-form-item"></div></div>
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="bt1">立即提交</button>
            </div>
        </div>

    </form>
</div>
<!--添加或者修改的弹出层end-->
</body>
</html>