<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>申请查询</title>
</head>
<body>
<form action="" class="layui-form" method="get" id="searchFrm" lay-filter="searchFrm" th:fragment="search">
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">编号:</label>
            <div class="layui-input-inline">
                <input type="text" id="srecruitNo"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">员工</label>
            <div class="layui-input-block">
                <select lay-filter="emp" id="sempId" lay-search>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">岗位</label>
            <div class="layui-input-block">
                <select lay-filter="role" id="sroleId" lay-search>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">状态:</label>
            <div class="layui-input-inline">
                <select lay-filter="state" id="sstate">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">部门:</label>
            <div class="layui-input-inline">
                <select lay-filter="dept" id="sdeptId" lay-search>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">类型:</label>
            <div class="layui-input-inline">
                <select lay-filter="type" id="stypeId">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">新岗位:</label>
            <div class="layui-input-inline">
                <select lay-filter="newRoleId" id="snewRoleId" lay-search>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">新部门:</label>
            <div class="layui-input-inline">
                <select lay-filter="newDeptId" id="snewDeptId" lay-search>
                    <option value="">请选择</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item" style="text-align: center;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-search" id="doSearch">查询</button>
                <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh">重置</button>
            </div>
        </div>
    </div>


</form>

</body>
</html>