<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>项目列表</title>
    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/jquery.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/layui/2.5.6/layui.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/layui/2.5.6/css/layui.css}"/>
</head>
<body>
<!--条件筛选-->
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
    <legend>查询条件</legend>
</fieldset>
<div th:replace="conference/project/project_search::search"></div>
<!--表头的操作-->
<script type="text/html" id="headBar">
    <a class="layui-btn layui-btn-warm layui-btn-sm" lay-event="add"><i class="layui-icon layui-icon-add-circle" style="color:red;"></i>项目登记</a>
</script>
<table lay-even class="layui-table" id="demo" lay-filter="demo"></table>
<!--防止图片一半显示-->
<style rel="stylesheet">
    .layui-table-cell{
        text-align:center;
        height: auto;
        white-space: normal;
    }
    .layui-table img{
        max-width:100%;
    }
    .layui-table-cell .layui-form-checkbox [lay-skin="primary"]{
        top: 50%;
        transform: translateY(-50%);
    }
</style>

<!--每行的操作-->
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="xg">修改项目进度</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="ck">查看文档</a>
</script>
<!--弹框-->
<div th:replace="conference/project/projectTJ::project_TJ"></div>
<div th:replace="conference/project/projectXG::project_XG"></div>
<script type="text/javascript">
    layui.use(['table','jquery','layer','upload','form','laydate'],function(){
        var $ = layui.jquery;
        var table = layui.table;
        var layer = layui.layer;
        var upload = layui.upload;
        var form = layui.form;
        var laydate = layui.laydate;
        //初始化日期控件
        var laydate = layui.laydate;

        //执行一个laydate实例
        //日期
        laydate.render({
            elem: '#projectBeginTime' //指定元素
            ,type: 'date'
        });
        laydate.render({
            elem: '#projectEndTime'
            ,type: 'date'
        });
        laydate.render({
            elem: '#xgprojectBeginTime'
            ,type: 'date'
        });
        laydate.render({
            elem: '#xgprojectEndTime'
            ,type: 'date'
        });

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 1){
                    return '必填选项不能为空';
                }
            },
            endTime: function (value) {
                var state=$("#projectState").val();
                var bgtime=$("#projectEndTime").val();
                if (state==1&&value!=''){
                    return "项目未结束不能存在结束时间";
                }else if(state==2&&value==''){
                    if (value<bgtime){
                        return "结束时间必须大于开始时间";
                    }
                    return "项目结束必须有结束时间";
                }
            },
            xgend:function (value) {
                var bgtime=$("#xgprojectBeginTime").val();
                var state=$("#xgprojectState").val();

                if (state==1&&value!=''){
                    return "项目未结束不能存在结束时间";
                }else if(state==2&&value==''){
                    if (value<bgtime){
                        return "结束时间必须大于开始时间";
                    }
                    return "项目结束必须有结束时间";
                }
            },
            je:function (value) {
                var yy=$("#ybprojectUseMoney").val();
                if (value<yy){
                    return "修改后的金额不能小于修改前的";
                }
            }
        });

        var layerId; //用来保存弹出层的id
        //渲染表格
        var tableIndex = table.render({
            elem: '#demo'
            ,id:'demo'
            ,height: 600
            ,url: '[[@{/Project/List}]]' //数据接口
            ,toolbar:'#headBar'
            ,text:{none:'暂无相关数据'}
            ,page: true //开启分页
            ,limit:5
            ,limits:[5,10,15,20,25,30]
            ,cols: [
                [
                    ,{field:'projectId', title:'项目id',hide:true}
                    ,{field:'projectNo',title:'项目编号'}
                    ,{field:'projectName', title:'项目名称'}
                    ,{field:'projectPredictMoney',title:'项目投资金额',templet:'<div>{{d.projectPredictMoney}}元</div>'}
                    ,{field:'projectUseMoney',title:'已用金额',templet:'<div>{{d.projectUseMoney}}元</div>'}
                    ,{field:'projectTime',title:'项目期日',with:500,templet:'<div>开始日期：{{d.projectBeginTime}}<br>结束日期日期：{{d.projectEndTime}}</div>'}
                    ,{field:'empId', title:'负责人id',hide:true}
                    ,{field:'empNo',title:'负责人编号'}
                    ,{field:'empName',title:'负责人'}
                    ,{
                        field:'projectState'
                        ,title:'项目状态'
                        ,templet:
                        function(d){
                            var rolestr = "";
                            var ary = d.projectState;
                            if (ary==1){
                                rolestr="<div style='background-color: yellow'>实施中</div>";
                            }else if (ary==2){
                                rolestr="<div style='background-color: greenyellow'>已完成</div>";
                            }else {
                                rolestr="<div style='background-color: red'>已废弃</div>";
                            }
                            return rolestr;
                        }
                    }
                    ,{field:'projectType',title:'项目类型id',hide:true}
                    ,{field:'projectTypeName',title:'项目类型'}
                    ,{field:'projectRemark',title:'项目详情',hide:true}
                    ,{field:'documentId',title:'文档id',hide:true}
                    ,{field:'dname',title:'文档名称',hide:true}
                    ,{field:'accessory',title:'文档内容',hide:true}
                    ,{field:'taskId',title:'任务id',hide:true}
                    ,{field:'title',title:'任务主题'}
                    ,{field:'projectBeginTime',title:'开始时间',hide:true}
                    ,{field:'projectEndTime',title:'结束时间',hide:true}
                    ,{toolbar: '#barDemo',fixed:'right',title:'操作',align:'center'}
                ]
            ]
            ,done: function () {
                $("[data-field='projectId']").css('display','none');
                $("[data-field='projectType']").css('display','none');
                $("[data-field='empId']").css('display','none');
                $("[data-field='documentId']").css('display','none');
                $("[data-field='taskId']").css('display','none');
            }
        });
        //刷新多条件查询
        function refresh(){
            var projectNo = $("#dprojectNo").val();
            var projectState = $("#dprojectState").val();
            var projectType = $("#dprojectType").val();
            tableIndex.reload(//重载，where后面设置的是传给后台的参数
                {
                    where:{
                        projectNo:projectNo,
                        projectState:projectState,
                        projectType:projectType
                    }
                    ,page:{
                        page:1,
                        limit:5
                    }
                    ,url:'[[@{/Project/List}]]'
                    ,method:'get'
                });
        }
        $("#doSearch").click(function(){
            refresh();
        });
        //每行的操作
        table.on('tool(demo)',function(obj){//tool是工具条事件，demo是table的lay-filter对应的值
            var row = obj.data;//获取每行的数据
            var layEvent =obj.event;//获取事件
            if(layEvent == "xg"){
                if (row.projectState!=1){
                    layer.msg("只有实施中的项目可以修改");
                    return;
                }
                //先获取当前id
                var empId=null;
                $.ajax({
                    url:'[[@{/Conferenceroom/getid}]]',
                    async: false,
                    type:'GET',
                    dateType:'json',
                    success:function(res){
                        empId=res;
                    }
                });
                if (empId!=row.empId){
                    layer.msg("您不是该项目的负责人，不能修改项目");
                    return;
                }
                upd(row);
            }else if(layEvent == "ck"){

                var wd="<div>"
                wd+="<H3>"
                wd+=row.dname
                wd+="</H3>"
                wd+=row.accessory
                wd+="</div>"

                layer.msg(wd, {
                    time: 20000, //20s后自动关闭
                    btn: ['关闭']
                });
            }

        });
        //表头的操作
        table.on('toolbar(demo)',function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            var layEvent = obj.event;
            var rows = checkStatus.data;//获取选中行的数据
            if(layEvent == "add"){
                approval();
            }
        });
        //添加审核
        function approval(){
            layerId = layer.open({
                type: 1
                ,title:'采购审批'
                ,id: 'layerDemo'+Math.random() //防止重复弹出
                ,content: $('#projectTJ')
                ,shade: [0.8, '#393D49']
                ,area:['700px','850px'],
                success:function(index){
                    //添加执行
                    console.log(1);
                    form.on('submit(projectDemo)', function(data){
                        //获取表单区域所有值
                        var data1 = form.val("projectFrm");
                        console.log(data1);
                        $.ajax({
                            url:'[[@{/Project/add}]]',
                            data:data1,
                            type:'POST',
                            dataType:'json',
                            success:function(res){
                                if(res.code == '0'){
                                    layer.msg(res.message);
                                    layer.close(layerId);
                                    window.location.reload();
                                }else{
                                    layer.msg(res.message);
                                }
                            }
                        });
                        return false;
                    });

                }
            });
        }
        //添加修改
        function upd(row){
            layerId = layer.open({
                type: 1
                ,title:'修改'
                ,id: 'layerDemo'+Math.random() //防止重复弹出
                ,content: $('#projectXG')
                ,shade: [0.8, '#393D49']
                ,area:['450px','550px'],
                success:function(index){
                    form.val("xgFrm", { //formTest 即 class="layui-form" 所在元素属性 lay-filter="" 对应的值
                        "xgid": row.projectId,
                        "xgprojectPredictMoney": row.projectPredictMoney // "name": "value"
                        ,"ybprojectUseMoney": row.projectUseMoney
                        ,"xgprojectUseMoney": row.projectUseMoney
                        ,"xgprojectBeginTime": row.projectBeginTime
                        ,"xgprojectEndTime": row.projectEndTime
                    });

                    form.on('submit(XgDemo)', function(data){
                        //获取表单区域所有值
                        var data1 = form.val("xgFrm");
                        console.log(data1);
                        $.ajax({
                            url:'[[@{/Project/upd}]]',
                            data:{
                                projectId:data1.xgid,
                                projectUseMoney:data1.xgprojectUseMoney,
                                projectEndTime:data1.xgprojectEndTime,
                                projectState:data1.xgprojectState
                            },
                            type:'POST',
                            traditional: true,
                            dataType:'json',
                            success:function(res){
                                if(res.code == '0'){
                                    layer.msg(res.message);
                                    $("#xgFrm")[0].reset();//清空表单数据
                                    layer.close(layerId);
                                    window.location.reload();
                                }else{
                                    layer.msg(res.message);
                                }
                            }
                        });
                        return false;
                    });

                }
            });
        }
    });

    $(document).ready(function(){
        //初始调用
        $.ajax({
            url:'[[@{/Project/cs}]]',
            async: false,
            type:'GET',
            dataType:'json',
            success:function(res){
                var type = "";
                $.each(res[0],function(i,v){
                    type += "<option value='"+v.projectTypeId+"'>"+v.projectTypeName+"</option>";
                });
                $("#dprojectType").append(type);
            }
        });

        //设置最初的值
        $.ajax({
            url:'[[@{/Project/cs}]]',
            async: false,
            type:'GET',
            dataType:'json',
            success:function(res){
                var type = "";
                var tasks="";
                var documents="";
                var money="";
                $.each(res[0],function(i,v){
                    type += "<option value='"+v.projectTypeId+"'>"+v.projectTypeName+"</option>";
                });
                $("#projectType").append(type);
                $("#projectNo").val(res[1]);
                $.each(res[2],function(i,v){
                    tasks += "<option value='"+v.task_id+"'>"+v.title+"</option>";
                });
                $("#taskId").append(tasks);
                $.each(res[3],function(i,v){
                    documents += "<option value='"+v.id+"'>"+v.dname+"</option>";
                });
                $("#documentId").append(documents);

                $.ajax({
                    url:'[[@{/Conferenceroom/getid}]]',
                    async: false,
                    type:'GET',
                    dateType:'json',
                    success:function(ress){
                        $("#empId").val(ress);
                    }
                });
            }
        });

    });

</script>
</body>
</html>