<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.springcloud.mapper.ConferenceroomPropertyMapper">
    <resultMap id="conferenceroomPropertyVoMap" type="com.aaa.pojo.conference.ConferenceroomPropertyVo">
        <result column="id" jdbcType="BIGINT" property="id" />
        <result column="property_id" jdbcType="BIGINT" property="propertyId" />
        <result column="conferenceRoom_id" jdbcType="BIGINT" property="conferenceRoomId" />
        <result column="property_no" jdbcType="VARCHAR" property="propertyNo" />
        <result column="property_name" jdbcType="VARCHAR" property="propertyName" />
    </resultMap>
    <!--添加一个资产和会议室的关系-->
    <select id="selRoomProperById" resultMap="conferenceroomPropertyVoMap">
        SELECT  cp.id,cp.conferenceRoom_id,p.property_id,p.property_no,p.property_name
        FROM tb_conferenceRoom_property cp,tb_property p
        WHERE cp.property_id=p.property_id AND conferenceRoom_id=#{conferenceRoomId}
    </select>
    <insert id="addConferenceroomProperty" parameterType="com.aaa.pojo.conference.TbConferenceroomProperty">
        insert into tb_conferenceroom_property(property_id, conferenceRoom_id) values(#{propertyId},#{conferenceRoomId})
    </insert>
    <!--删除一个资产和会议室的关系-->
    <delete id="delConferenceroomProperty" parameterType="Long">
        DELETE FROM tb_conferenceroom_property WHERE property_id=#{property_id}
    </delete>
</mapper>    