<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aaa.demo.mapper.OutTypeMapper">
    <resultMap id="BaseResultMap" type="com.aaa.pojo.informaction.TboutlinkmanType">
        <result column="typeid" jdbcType="INTEGER" property="typeid" />
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from tb_outlinkman_type
    </select>
</mapper>