<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作报告查询</title>
</head>
<body>
<form action="" class="layui-form" method="get" id="searchFrm" lay-filter="searchFrm" th:fragment="search">

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">编号:</label>
            <div class="layui-input-inline">
                <input type="text" id="sstatement_no" name="statement_no"  autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报告名称:</label>
            <div class="layui-input-inline">
                <input type="text"  id="stitle" name="title" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">所属部门</label>
            <div class="layui-input-block">
                <select lay-filter="dept_id" id="sdept_id">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">所属报告</label>
                <div class="layui-input-block">
                    <input type="text" id="sparent_no" name="parent_no" placeholder="请选择上级编号" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报告状态</label>
            <div class="layui-input-block">
                <select lay-filter="state_id" id="sstate_id">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">报告类型</label>
            <div class="layui-input-block">
                <select lay-filter="sstatement_tid" id="sstatement_tid">
                    <option value="">请选择</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
            <div class="layui-form-item">
                <label class="layui-form-label">创建日期</label>
                <div class="layui-inline">
                    <input type="text" id="ssdate" name="sdate" placeholder="请选择日期" autocomplete="off" class="layui-input">
                </div>
                ————
                <div class="layui-inline">
                    <input type="text" id="sedate" name="edate" placeholder="请选择日期" autocomplete="off" class="layui-input">
                </div>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">查询范围</label>
            <div class="layui-input-block">
                <select lay-filter="sstatement_fw" id="sstatement_fw">
                    <option value="0" selected>请选择</option>
                    <option value="1" >我创建的工作计划</option>
                    <option value="2">我评审的工作计划</option>
                </select>
            </div>
        </div>
        <div class="layui-inline" style="text-align: center;">
            <div class="layui-input-block">
                <button type="button" class="layui-btn layui-btn-normal layui-btn-sm layui-icon layui-icon-search" id="doSearch">查询</button>
                <button type="reset" class="layui-btn layui-btn-warm layui-btn-sm layui-icon layui-icon-refresh">重置</button>
            </div>
        </div>
    </div>


</form>

</body>
</html>