<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>添加或修改</title>
</head>
<body>
<!--添加或者修改的弹出层start-->
<div style="display: none;padding: 20px;" id="saveOrUpdateDiv" th:fragment="addOrUpdate">
    <form class="layui-form"  id="dataFrm" lay-filter="dataFrm" type="post">
        <div class="layui-form-item">
            <div class="layui-col-md3"><div class="layui-form-item"></div></div>
            <label class="layui-form-label">任务名称</label>
            <div class="layui-inline">
                <input id="title" type="text" name="title" required lay-verify="required" placeholder="计划名称" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md5">
                <div class="layui-form-item">
                    <label class="layui-form-label">任务编号</label>
                    <div class="layui-inline">
                        <input type="text" id="task_no" name="task_no" required  lay-verify="required" placeholder="请输入任务编号" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-form-item">
                    <label class="layui-form-label">从属于</label>
                    <div class="layui-inline">
                        <input type="hidden" id="parent_id" name="parent_id" autocomplete="off" class="layui-input">
                        <input type="text" id="pname" name="pname" readonly placeholder="所属任务" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-md5">
                <div class="layui-form-item">
                    <label class="layui-form-label">任务分类</label>
                    <div class="layui-input-block">
                        <select name="type" lay-filter="type" id="type" lay-verify="required">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-form-item">
                    <label class="layui-form-label">所属部门</label>
                    <div class="layui-input-block">
                        <select name="dept_id" lay-filter="dept_id" id="dept_id" lay-verify="required">
                            <option value="">请选择</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-row">
            <div class="layui-col-md5">
                <div class="layui-form-item">
                    <label class="layui-form-label">开始时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="sdate" name="sdate" required  lay-verify="required" placeholder="请选择日期" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
            <div class="layui-col-md5">
                <div class="layui-form-item">
                    <label class="layui-form-label">结束时间</label>
                    <div class="layui-input-block">
                        <input type="text" id="edate" name="edate" required  lay-verify="required" placeholder="请选择日期" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">执行人</label>
            <div id="action_emp_ids" name="action_emp_ids" class="demo-transfer"></div>
        </div>
        <label class="layui-form-label">任务事项</label>
        <div class="layui-form-item">
            <table class="layui-table" >
                <tr>
                    <th>计划事项</th>
                    <th>
                        <button type="button" class="layui-btn layui-btn-sm" id="add">
                            <i class="layui-icon">&#xe654;</i>
                        </button>
                    </th>
                </tr>
                <tr class='task_schedulings'>
                    <td><input type="text" lay-verify="required" name='scheduling' class="layui-input xxx"></td>
                    <td></td>
                </tr>
                <tbody id="task_schedulings">

                </tbody>
            </table>

        </div>
        <div class="layui-row">
            <div class="layui-col-md10">
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">任务说明：</label>
                    <div class="layui-input-block">
                        <textarea id="remark" name="remark" class="layui-textarea"></textarea>
                    </div>
                </div>
            </div>
        </div>


        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" lay-submit lay-filter="formDemo" id="bt1">立即提交</button>
                <button type="reset" class="layui-btn layui-btn-primary" id="bt2">重置</button>
            </div>
        </div>

    </form>
</div>
<!--添加或者修改的弹出层end-->
</body>
</html>