<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>详情页</title>
</head>
<body>
<div id="detail" style="display: none;padding: 20px;" th:fragment="detail_common">
<form class="layui-form"  id="pactForm" lay-filter="pactForm" type="post">
    <table class="layui-table" id="tab">
        <tr>
            <td>*合同全称</td>
            <td colspan="8">
                <input type="text" id="dpname" name="pname" required lay-verify="required"  class="layui-input">
            </td>
        </tr>
        <tr>
            <td>合同编号</td>
            <td colspan="2">
                <input disabled type="button" style="width: 100%;text-align: left" id="dp_no" name="p_no"  class="layui-btn layui-btn-primary">
            </td>
            <td>合同金额</td>
            <td colspan="2">
                <input type="text" name="pactmoney" id="dpactmoney" class="layui-input">
            </td>
            <td>回款额</td>
            <td colspan="2">
                <input type="text" name="returned" id="dreturned" class="layui-input">
            </td>
        </tr>
        <tr>
            <td>开票额</td>
            <td colspan="2">
                <input type="text" id="dbilling" name="billing" required lay-verify="required"  class="layui-input">
            </td>
            <td>签约日期</td>
            <td colspan="2">
                <input type="text" id="dcontractDate" name="contractDate"   class="layui-input">
            </td>
            <td>服务期至</td>
            <td colspan="2">
                <input type="text" id="dendtDate" name="endtDate"   class="layui-input">
            </td>
        </tr>
        <tr>
            <td>合同所属部门</td>
            <td colspan="2">
                <input type="text" name="dept_id" id="ddept_id"   class="layui-input">
            </td>
            <td>客户名称</td>
            <td colspan="2">
                <input type="text" name="c_id" id="dc_id"   class="layui-input">
            </td>
            <td>责任人</td>
            <td colspan="2">
                <input type="text" name="emp_id" id="demp_id"   class="layui-input">
            </td>
        </tr>
        <tr>
            <td>合同的详情内容</td>
            <td colspan="8">
                <textarea id="ddetails" name="details" placeholder="请输入合同的详情内容" class="layui-textarea"></textarea>
            </td>
        </tr>
    </table>

    <fieldset class="layui-elem-field layui-field-title">
        <legend>审批人</legend>
        <table lay-even class="layui-table" id="approver" lay-filter="approver"></table>
    </fieldset>
    <div id="dplan_state"></div>
</form>
</div>
</body>
</html>